{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="form-box">
                <img src="{% static 'adminer0.jpg' %}" width="300px" alt="Picture of Elliot">
                <p><b>Elliot Nkwama</b> is a Django Web Developer<br>
                and Web based Pentester, <br>
                Taking Bachelor in Cyber Security <br>
                at <b>Institute Of Accountancy Arusha</b></p>
                <p><b>E-mail:  </b><i>thisguyhack@gmail.com</i><br>
                <b>phone: </b><i>+255768576357</i></p>
            </div>
        </div>
    </div>
{% endblock %}














